<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Project</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/detail-project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body style="background-color: #e3e7eb;">
   <nav
      class="navbar navbar-expand-lg bg-body-tertiary px-4"
      style="background-color:#ffffff !important;"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">
          <img
            src="../assets/img/dumbwayslogo.png"
            alt="dumbwayslogo"
            style="width: 2.5em;"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/index"
              >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/project">My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/oop">Testimonials</a>
            </li>

            <li class="nav-item">
              <a class="nav-link d-lg-none" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none" href="/contact">Contact Me</a>
            </li>
          </ul>
        </div>

        <div class="nav-right d-flex justify-content-end d-none d-lg-flex">
           <ul class="navbar-nav me-4 mb-2 mb-lg-0 ">
            {{#if handleLogin}}
            <li class="nav-item">
              <a class="nav-link fw-bold active" >Hello, {{user}}</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="/logout">Logout</a>
            </li>

            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>

          <a
            href="/contact"
            type="button"
            class="btn btn-danger d-none d-lg-block"
          >Contact Me</a>

        </div>

      </div>
    </nav>


    <header class="title">{{data.name_project}}</header>


    <div class="detail-container">

        <div class="top-container">
            <div class="image-container">
                <img src="/uploads/{{data.image}}" alt="">
            </div>
    
            <div class="desc-container">
                <div class="duration">
                    <h3>Duration</h3>
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="label-desc">{{data.start_date}} - {{data.end_date}}</div>
                    </div>
                    <div class="time">
                        <i class="fa-solid fa-clock"></i>
                        <div class="label-desc">{{data.interval}}</div>
                    </div>
                </div>
    
                <h3 class="tech-label">Technologies</h3>
    
                <div class="technologies">
                    {{#each data.tech}}
                          <i class="fa-brands {{this}}"></i>
                    {{/each}}
    
                    {{!-- <div class="left-tech">
                        <div class="nodejs">
                            <i class="fa-brands fa-node-js"></i>
                            <div class="label-desc">Node.Js</div>
        
                        </div>
                        <div class="reactjs">
                            <i class="fa-brands fa-react"></i>
                            <div class="label-desc">React.Js</div>
                        </div>
                    </div>
    
                    <div class="right-tech">
                        <div class="python">
                            <i class="fa-brands fa-python"></i>
                            <div class="label-desc">Python</div>
                        </div>
                        <div class="golang">
                            <i class="fa-brands fa-golang"></i>
                            <div class="label-desc">Golang</div>
                        </div>
                    </div> --}}
                </div>
            </div>

        </div>

        <div class="bot-container">
            <p>
                {{data.desc_project}}
            </p>
        </div>
        
        
    </div>

    
    <script src="../assets/js/nav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>
</html>